/* COMMON */
input,
span {
  font-size: 60px;
}

input {
  border: none;
  width: 70px;
  text-align: center;
}

button {
  appearance: none;
  border: 1px solid #e5ebf5;
  padding: 0.6em 0;
  width: 33%;
  border-radius: 5px;
  background-color: #ffffff;
}

button:hover {
  background-color: #fbfcff;
  border-color: #dbe4f6;
  color: #2e57d4;
  cursor: pointer;
}

.container {
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container #timeView {
  width: 100%;
  margin: 10px auto;
  text-align: center;
}

.container #btnArea {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
